@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic');


.save-cl {
    min-width: 154px;
}

.nav-wrapper {
    
}

.btn-group {
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn-primary {
    margin-bottom: 15px;
}

.wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.add-btn {
  width: 135px;
}

td {
    padding-top: 50px;
}